@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro.woff");
  font-weight: 400;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.woff");
  font-weight: 700;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #ffffff;
  font-family: "DIN Pro", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #1c1e33;
}

.b-top {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 52;
}

.b-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eeeff4;
  background: #ffffff;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &-mob {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    height: 74px;
    border-left: 1px solid #eeeff4;
    cursor: pointer;
    img,
    svg {
      display: block;
      max-width: 35px;
      max-height: 35px;
    }
    &__open {
      display: block;
    }
    &__close {
      display: none;
    }
  }
  &__social {
    &-wrap {
      position: relative;
      width: 100%;
      padding: 30px 0 20px 0;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    a {
      display: inline-block;
      padding: 8px;
      opacity: 0.3;
      filter: brightness(0);
      img,
      svg {
        display: block;
        max-width: 36px;
        max-height: 36px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.1);
        filter: none;
        opacity: 1;
        color: #e72165;
        text-decoration: none;
      }
    }
  }
  &__logo {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 170px;
      max-height: 50px;
    }
    &-text {
      display: inline-block;
      margin: 0 0 0 20px;
      padding: 6px 0 6px 20px;
      border-left: 1px solid #e72165;
      color: #1c1e33;
      font-size: 18px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .b-header__logo-text {
        color: #e72165;
      }
      color: #e72165;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 6px 0;
    img,
    svg {
      display: block;
      max-width: 17px;
      max-height: 17px;
      margin-right: 10px;
    }
    color: #1c1e33;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e72165;
      text-decoration: none;
    }
  }
  &__search {
    display: inline-block;
    position: relative;
    input {
      display: block;
      width: 100%;
      max-width: 200px;
      padding: 7px 30px 7px 14px;
      border-radius: 999rem;
      outline: none;
      border: 1px solid rgba(28, 31, 51, 0.3);
      background-color: #ffffff;
      color: #1c1e33;
      font-size: 14px;
      font-weight: 400;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background: url("../images/cross.svg") no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }
    }
    ::placeholder {
      color: rgba(28, 30, 51, 0.3);
    }
  }
  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 14px 0 0;
    border: 0;
    outline: none;
    background: transparent;
    img,
    svg {
      display: block;
      max-width: 15px;
      max-height: 15px;
    }
  }
  &-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #eeeff4;
    background: #ffffff;
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        position: relative;
        margin-bottom: -1px;
        padding: 16px 0;
        border-bottom: 1px solid transparent;
        color: #1c1e33;
        font-size: 24px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #e72165;
          color: #e72165;
          text-decoration: none;
        }
      }
    }
    &_active {
      a {
        border-color: #e72165 !important;
        color: #e72165 !important;
      }
    }
  }
}

.b-tags {
  display: none;
  position: relative;
  width: 100%;
  margin-top: -30px;
  padding: 30px 0;
  a {
    display: inline-block;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 6px 18px;
    border-radius: 999rem;
    border: 1px solid rgba(28, 31, 51, 0.2);
    background-color: #ffffff;
    color: rgba(28, 30, 51, 0.5);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #1c1f33;
      background-color: #1c1f33;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &_active {
    & > div {
      border-color: #1c1f33 !important;
      background-color: #1c1f33 !important;
      color: #ffffff !important;
    }
  }
  label {
    display: inline-block;
    position: relative;
    margin: 0 20px 20px 0;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        border-color: #1c1f33 !important;
        background-color: #1c1f33 !important;
        color: #ffffff !important;
      }
    }
    & > div {
      display: inline-block;
      position: relative;
      padding: 6px 18px;
      border-radius: 999rem;
      border: 1px solid rgba(28, 31, 51, 0.2);
      background-color: #ffffff;
      color: rgba(28, 30, 51, 0.5);
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #1c1f33;
        background-color: #1c1f33;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.b-video {
  display: block;
  position: relative;
  width: 100%;
  max-width: 370px;
  margin: 0 auto 30px auto;
  background-color: #ffffff;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 230px;
    background-color: rgba(28, 31, 51, 0.8);
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  &__play {
    display: block;
    max-width: 65px;
    max-height: 65px;
  }
  &__footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
    z-index: 1;
  }
  &__info {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 6px 36px 6px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 18px;
      max-height: 18px;
      margin-right: 6px;
    }
  }
  &__tag {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 6px 30px;
    border-radius: 0 999rem 999rem 0;
    background-color: #ffffff;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
    z-index: 3;
  }
  &__title {
    display: block;
    height: 172px;
    overflow: hidden;
    margin: 0;
    padding: 25px 30px 35px 30px;
    color: #1c1e33;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.2s ease-out;
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    .b-video__title {
      color: #ffffff;
    }
    .b-video__content {
      opacity: 1;
    }
    background-color: #1c1f33;
    text-decoration: none;
  }
}

.b-card {
  display: block;
  position: relative;
  width: 100%;
  max-width: 370px;
  min-height: 402px;
  margin: 0 auto 30px auto;
  background-color: #ffffff;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 230px;
    background-color: rgba(28, 31, 51, 0.8);
    opacity: 0;
  }
  &__footer {
    display: none;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 5px 30px 0 30px;
    z-index: 1;
  }
  &__info {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 6px 36px 6px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 18px;
      max-height: 18px;
      margin-right: 6px;
    }
  }
  &__tag {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 6px 30px;
    border-radius: 0 999rem 999rem 0;
    background-color: #ffffff;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
    z-index: 3;
  }
  &__title {
    display: block;
    height: 172px;
    overflow: hidden;
    margin: 0;
    padding: 25px 30px 20px 30px;
    color: #1c1e33;
    font-size: 24px;
    font-weight: 500;
  }
  &__hr {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    background-color: #ffffff;
    opacity: 0.24;
  }
  &__text {
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-image: linear-gradient(to top, #1c1f33 0%, rgba(28, 31, 51, 0) 100%);
    }
  }
  cursor: pointer;
  text-decoration: none;
  &:hover {
    .b-card__hr {
      height: 30px;
      margin: 30px 0 0 0;
    }
    .b-card__image {
      height: 0;
      overflow: hidden;
    }
    .b-card__title {
      height: 134px;
      color: #ffffff;
    }
    .b-card__text {
      height: 158px;
    }
    .b-card__footer {
      display: flex;
    }
    background-color: #1c1f33;
    text-decoration: none;
  }
}

.b-form {
  display: block;
  position: relative;
  width: 100%;
  margin: 30px 0 80px 0;
  padding: 40px 0;
  background-color: #eeeff4;
  .container {
    position: relative;
  }
  &__image {
    display: block;
    position: absolute;
    left: -15px;
    top: -62px;
  }
  &__title {
    display: block;
    margin: 0 0 14px 0;
    color: #1c1e33;
    font-size: 30px;
    font-weight: 300;
    b {
      font-weight: 500;
    }
    span {
      color: #e72165;
      font-weight: 300;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 33px 0;
    color: #1c1e33;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 9px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #e72165;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 18px;
      max-height: 18px;
      margin-right: 10px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 7px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #1c1f33;
    background: transparent;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #1c1e33;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    a {
      color: #1c1e33;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e72165;
        text-decoration: none;
      }
    }
  }
}

.b-load {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 180px;
  margin: 10px auto 80px auto;
  padding: 7px 26px 7px 10px;
  border-radius: 18px;
  border: 1px solid #e72165;
  background-color: transparent;
  color: #1c1e33;
  font-size: 16px;
  font-weight: 400;
  img,
  svg {
    display: inline-block;
    max-width: 22px;
    max-height: 22px;
    margin-right: 22px;
    transition: all 0.2s ease-out;
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    img,
    svg {
      filter: brightness(0) invert(1);
    }
    background-color: #e72165;
    color: #ffffff;
    text-decoration: none;
  }
}

.b-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #eeeff4;
  background: #ffffff;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 170px;
      max-height: 50px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e72165;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 6px 0;
    img,
    svg {
      display: block;
      max-width: 17px;
      max-height: 17px;
      margin-right: 10px;
    }
    color: #1c1e33;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e72165;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    a {
      display: inline-block;
      padding: 6px 0 6px 30px;
      opacity: 0.3;
      filter: brightness(0);
      img,
      svg {
        display: block;
        max-width: 24px;
        max-height: 24px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        filter: none;
        transform: scale(1.1);
        color: #e72165;
        text-decoration: none;
      }
    }
  }
}

.b-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px 0;
  &__search {
    display: block;
    position: relative;
    input {
      display: block;
      width: 620px;
      padding: 7px 160px 7px 20px;
      border-radius: 999rem;
      outline: none;
      border: 1px solid rgba(28, 31, 51, 0.3);
      background-color: #ffffff;
      color: #1c1e33;
      font-size: 16px;
      font-weight: 400;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background: url("../images/cross.svg") no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }
    }
    ::placeholder {
      color: rgba(28, 30, 51, 0.3);
    }
  }
  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 7px 55px;
    border-radius: 18px;
    border: 1px solid #c72263;
    outline: none;
    background-color: #ffffff;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 15px;
      max-height: 15px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #c72263;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__centered {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__text {
    display: block;
    margin: 6px 22px 6px 0;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
  }
  &__group {
    display: flex;
    align-items: stretch;
    position: relative;
  }
  &__radio {
    display: inline-block;
    position: relative;
    margin: 0 0 0 -1px;
    &:first-child {
      & > div {
        border-radius: 999rem 0 0 999rem !important;
      }
    }
    &:last-child {
      & > div {
        border-radius: 0 999rem 999rem 0 !important;
      }
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        border-color: #1c1e33 !important;
        color: #1c1e33 !important;
      }
    }
    & > div {
      display: block;
      padding: 8px;
      border: 1px solid rgba(28, 30, 51, 0.2);
      color: #8d8e99;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
  }
  &__info {
    display: block;
    margin: 0;
    padding: 0 0 35px 20px;
    opacity: 0.5;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
  }
}

.b-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 40px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #1c1e33;
    font-size: 40px;
    font-weight: 500;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    padding: 0 0 30px 0;
  }
  &__info {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0 36px 10px 0;
    color: #1c1e33;
    font-size: 16px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 17px;
      max-height: 17px;
      margin-right: 6px;
    }
  }
  &__prep {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 55px 0;
    color: #494b5c;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.64;
  }
  &__link {
    display: block;
    position: relative;
    margin: 0 0 12px 0;
    &-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: 999rem;
      border: 1px solid rgba(28, 30, 51, 0.2);
      background-color: transparent;
      color: #a5a5aa;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    &-title {
      display: inline-block;
      margin: 0 0 0 16px;
      color: #a5a5aa;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      text-decoration: underline;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .b-article__link-number {
        border-color: #e71e62;
        color: #1c1e33;
      }
      .b-article__link-title {
        color: #1c1e33;
        text-decoration: none;
      }
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    img,
    svg {
      display: block;
      max-width: 100%;
      margin: 0 0 30px 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 26px 0;
      color: #1c1e33;
      font-weight: 500;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 25px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 18px;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #494b5c;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      a {
        color: #e72165;
        text-decoration: underline;
        &:hover {
          color: #e72165;
          text-decoration: none;
        }
      }
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 30px 30px;
      list-style: none;
      color: #494b5c;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      li {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        padding-left: 20px;
        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          width: 7px;
          height: 7px;
          border-radius: 999rem;
          background-color: #e72165;
        }
      }
    }
    figcaption {
      display: block;
      margin: 0 0 60px 0;
      color: #8d8e99;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }
    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 50px;
      border-left: 5px solid #e72165;
      background-color: rgba(0, 0, 0, 0.03);
      color: #494b5c;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      line-height: 1.5;
    }
    .table {
      margin: 0 0 30px 0;
    }
    .table td,
    .table th {
      padding: 16px 20px;
      border: 0;
      color: #1b242b;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
    .table td:nth-of-type(odd) {
      background: rgba(0, 0, 0, 0.03);
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background: rgba(0, 0, 0, 0.03);
    }
    .table thead th {
      padding: 15px 20px;
      border-top: 5px solid #e72165;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      background-color: #1c1e33;
    }
  }
}

.b-read {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 30px 0;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #1c1e33;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .b-header-mob {
    display: flex;
    z-index: 5;
  }
  .b-form__image {
    top: -20px;
    left: 50%;
    max-width: 225px;
    max-height: 180px;
    transform: translateX(-50%);
  }
  .b-header__logo {
    order: -1;
    img,
    svg {
      max-width: 170px;
    }
  }
  .b-header:after {
    display: block;
    content: "";
    position: absolute;
    top: 73px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eeeff4;
  }
  .b-header__logo-text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 26px 0 8px 0;
    border: 0;
    color: #1c1e33;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .b-header {
    padding: 12px 0 8px 0;
  }
  .b-header__search {
    display: none;
    width: 100%;
    margin: 44px 0 30px 0;
    padding: 0;
    order: 1;
  }
  .b-header__search input {
    width: 100%;
    max-width: 100%;
    padding: 20px 60px 20px 28px;
    font-size: 18px;
    font-weight: 400;
  }
  .b-header__button {
    padding-right: 30px;
    img,
    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }
  .b-header__info {
    display: none;
    width: 240px;
    margin: 11px auto;
    order: 2;
  }
  .b-header__info img,
  .b-header__info svg {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: -4px 5px 0 0;
    object-fit: scale-down;
    object-position: center center;
  }
  .b-header__social-wrap {
    order: 99;
  }
  .b-header-nav {
    justify-content: flex-start;
    padding: 10px 0;
    border: 0;
  }
  .b-header-nav li a {
    padding: 8px 20px 8px 0;
    border: 0;
    font-size: 18px;
    font-weight: 300;
  }
  .b-tags {
    padding: 0 0 30px 0;
  }
  .b-tags a {
    margin: 0 10px 10px 0;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 400;
  }
  .b-video {
    padding-bottom: 16px;
  }
  .b-video__content {
    height: 170px;
  }
  .b-video__tag {
    top: 10px;
  }
  .b-video__title {
    height: auto;
    max-height: 154px;
    margin: 16px 6px 0 6px;
    padding: 0;
  }
  .b-form {
    padding: 0 0 36px 0;
    text-align: center;
    &__image {
      position: relative;
    }
  }
  .b-form input {
    max-width: 220px;
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .b-form__button {
    max-width: 180px;
    margin: 10px auto 35px auto;
  }
  .b-form {
    margin-bottom: 50px;
  }
  .b-footer__info {
    display: block;
    width: 240px;
    margin: 11px auto;
    order: 2;
  }
  .b-footer__info img,
  .b-footer__info svg {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: -4px 5px 0 0;
    object-fit: scale-down;
    object-position: center center;
  }
  .b-footer__logo {
    width: 100%;
    img,
    svg {
      display: block;
      max-width: 170px;
      margin: 0 auto 30px auto;
    }
  }
  .b-footer__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    order: 99;
    a {
      display: inline-block;
      padding: 8px;
      img,
      svg {
        display: block;
        max-width: 36px;
        max-height: 36px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.1);
        color: #e72165;
        text-decoration: none;
      }
    }
  }
  .b-search__search {
    width: 100%;
  }
  .b-search__search input {
    width: 100%;
  }
  .b-search__button {
    padding: 7px 20px;
  }
  .b-search__search input {
    padding-right: 90px;
  }
  .b-search__text {
    width: 100%;
    margin: 20px 0 10px 0;
    text-align: center;
  }
  .b-search__info {
    padding: 20px 0;
    text-align: center;
  }
  .b-search__radio > div {
    font-size: 14px;
  }
  .b-search__group {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .b-search {
    padding-top: 0;
  }
  .b-load {
    margin-bottom: 60px;
  }
  .b-article {
    padding-top: 5px;
  }
  .b-article__title,
  .b-article__content h1 {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .b-article__content h2 {
    font-size: 28px;
  }
  .b-article__content h3 {
    font-size: 24px;
  }
  .b-article__content h4 {
    font-size: 20px;
  }
  .b-article__content h5 {
    font-size: 18px;
  }
  .b-article__content h6 {
    font-size: 16px;
  }
  .b-article__prep {
    font-size: 18px;
  }
  .b-article__content h1,
  .b-article__content h2,
  .b-article__content h3,
  .b-article__content h4,
  .b-article__content h5,
  .b-article__content h6 {
    margin-bottom: 20px;
  }
  .b-article__content blockquote {
    padding: 20px;
  }
  .b-read__title {
    margin-bottom: 30px;
  }
  .b-card__tag {
    top: 10px;
  }
  .b-card:hover .b-card__hr {
    margin-top: 10px;
  }
  .b-card__footer {
    padding-top: 25px;
  }
  .b-card__title {
    padding: 26px 6px 16px 6px;
  }
  .b-card__content {
    height: 170px;
  }
  .b-card {
    min-height: auto;
  }
  .b-card:hover .b-card__title {
    padding: 26px 30px;
  }
  .b-card__footer {
    padding: 5px 30px 20px 30px;
  }
  .b-card {
    min-height: 342px;
  }
  .b-card:hover .b-card__text {
    height: 66px;
    padding-top: 10px;
  }
  .b-article__link {
    display: flex;
    align-items: flex-start;
  }
  .b-article__link-number {
    flex: 0 0 28px;
  }
  .b-tags a {
    padding: 8px 16px;
  }
  .b-tags label {
    margin: 0 5px 5px 0;
  }
}
